<form class="example-form">

    <mat-form-field class="example-full-width">
        <input matInput name="path" [(ngModel)]="getBiggestFoldersRequest.path" placeholder="Enter a valid path">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput name="count" [(ngModel)]="getBiggestFoldersRequest.count" placeholder="Count of folders">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-select #fontSize value="16px" name="sort" [(ngModel)]="getBiggestFoldersRequest.sort">
            <mat-option *ngFor="let sortType of keys(sortTypes)" [value]="sortTypes[sortType]">{{sortTypes[sortType]}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="getBiggestFolders()"  [disabled]="loaderIsVisible" >List Biggest Folders</button>

    <mat-progress-bar mode="indeterminate" *ngIf="loaderIsVisible"></mat-progress-bar>

    <table mat-table matSort [dataSource]="foldersDataTable" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let folder"> {{folder.name}} </td>
        </ng-container>

        <!-- Size Column -->
        <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
            <td mat-cell *matCellDef="let folder"> {{folder.size}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-toolbar color="primary" *ngIf="statusMessageDisplay">{{ statusMessage }}</mat-toolbar>

    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</form>