.example-form {
  min-width: 150px;
  width: 90%;
  padding: 5%;
}

.example-form .mat-form-field {
  max-width: 500px;
  display: block;
}

.example-full-width {
  width: 100%;
}

table {
  margin-top: 20px;
  width: 100%;
}

.mat-progress-bar {
  margin: 10px 0 10px 0;
}

.no-record
{
  margin: 30px 0 10px 0;
}